#sphere {
  font-family: 'Verdana';
  font-size: 20px;
  
}

.background {
  background-image: url('images/beach-background.png');
}

body {
  padding: 0;
  text-align: center;
}

.game-intro {
  float: left;
  padding-left: 60px;
  padding-right: 60px;
  /* padding: 30px 30px; */
  color: brown;
  text-align: center;
}

.game-intro p {
  font-size: 18px;
  font-family: sans-serif;
}

.game-intro h3 {
  font-size: 18px;
  font-family: sans-serif;
  text-align: left;
  padding-bottom: 10px;
}

body button {
  font-size: 20px;
  background-color: brown;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 10px;
}

#game-board {
    float: left;
    padding: 20px 0px; 
}

canvas {
  margin-top: 50px;
  display: none;
  border: 5px solid brown;
}

.tips {
  padding-top: 1px;
  padding-left: 8px;
  padding-bottom: 1px;
  background-color: brown;
  color: white;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.tips h3 {
  font-size: 15px;
  text-decoration: none;
}

#start-button {
  text-align: center;
}

#align-left {
  text-align: left;
  margin-left: 0;
}