body {
  padding: 0;
  text-align: center;
}

.game-intro {
  float: left;
  padding: 10% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.game-intro ol {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 20px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 10px;
}

#game-board {
    float: left;
    padding: 20px 0px;
}